#img-div {
  position: relative;
  border: 5px solid black;
  height: 1000px;
  width: 1000px;
}

#img {
  display: block;
  height: 300px;
  width: 300px;
  margin: auto;
}

#tribute-info {
  position: absolute;
  display: inline;
}

#img-caption {
  display: inline;
  background-color: red;
  border: 5px solid black;
}
